

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea {
    overflow: auto;
}

form {
    max-width: 500px;
    padding: 20px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    width: 25%;
    display:inline-block;
    font-weight: bold;
}

input, select, textarea {
    width: 70%;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    padding: 7px;
    box-shadow: 1px 1px 4px #EBEBEB;
}

form div {
     margin-bottom: 10px;   
}

.submit-row {
    text-align: center;
}

.submit-row button {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    }

button:hover {
    background: #EA7B00;
}

input[type="text"]:focus, input[type="email"]select:focus, select:focus, textarea:focus {
    border: 1px solid #00CC00;
}