body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    margin-top: 50px;
 }
 
 h1 {
     font-size: 35px;
 }
 
 h2 {
     font-size: 25px;
     color: grey;
 }
 
 button {
     background-color: rgb(166, 247, 213);
     color: black;
     text-align: center;
     border: solid black 1px;
     border-radius: 8px;
     padding: 15px;
     margin: 20px;
 }
 
 button:hover {
     background-color: rgb(250, 173, 173);
 }
 
 p {
     font-size: 20px;
     color: black;
 }