
/* Basic styling */

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header { 
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.content {
    flex: 3;
    padding: 20px;
    background-color: #E4E4F4;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #DDD;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Media Query for Small Screens */
@Media (max-width: 768px) {
    main{
    flex-direction: column;
    }
    .content, .sidebar {
        flex: 1;
    }
}

/* Media Query for Extra Small Screens */
@Media (max-width: 480px) {
    header {
        font-size: 18px;
        padding: 10px;
    }
    .content, .sidebar {
        padding: 10px;
    }
    .footer {
        font-size: 9px;
        padding: 0px;
    }
    main {
        margin: 0px;
    }
}